.sidebar-container {
    max-width: 282px;
    width: 282px;
    height: 100%;
    /* height: calc(100vh - 80px); */
}

.sidebar-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 28px;
    font-weight: 600;
}

.sidebar-question-count-box {
    width: 282px;
    padding-top: 15px;
    gap: 5px;
    /* flex: 1 1 1 1 calc(25% - 5px); */
    justify-content: space-evenly;
    max-height: calc(100% - 60px);
}

.sidebar-question-count {
    width: 54px;
    max-width: 54px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    height: 35px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}